body{
    margin: 0px;
    padding: 0px;
    color: white;
}
header{
    margin: 0;
    padding: 0;
    background-color: #ccc;
    height: 450px;
    display: flex;
    justify-content: space-between;
    
    
}

.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}

h1, h3{
    margin: 10px 0px 10px 25px;
}

.nombre{
    background-color: #444343;
    font-size: 70px;
    width: 400px;
    border-radius: 15px;
}

.descripcion{
    background-color: #444343;
    font-size: 30px;
    width: 500px;
    border-radius: 15px;
}

.foto{
    
    background-color: #0F3D3E;
    height: 300px;
    width: 300px;
    border-radius: 150px;  
    margin: 75px;
}

