body{
    background-color: aliceblue;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: white;
    margin: 5px;
}
*{
    box-sizing: border-box;
}
.div{
 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
}

#heart{
    font-size: 20px;
    animation: heart .5s infinite alternate linear;
}

@keyframes heart{
    from{
        transform: scale(.7);
    }
    to{
        transform: scale(1);
    }

}
header{
    color: white;
    margin: 0;
    padding: 0;
    background-color: black;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo{
    display: flex;
   
}



.nombre {
    font-size: 20px;
    font-family: cursive;
    margin: 0px;
}

.descripcion{
    background-color: #E2DCC8;
    font-size: 30px;
    width: 500px;
    border-radius: 25px;
}

#foto{
    
    background-color: #0F3D3E;
    height: 300px;
    width: 300px;
    border-radius: 150px;  
    margin: 75px;
}

img{
   
    height: 200px;
}

.row{
    display: flex;
    padding-top: 5px;
}

.column{
    flex: 25%;
    padding: 5px;
}

.column img{
    margin-top: 5px;
}

nav a :hover{
  color: coral;  
}